.profile-header {
  margin-bottom: 70px;
}

.profile-picture {
  display: inline-block;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
}

.profile-name {
  font-family: 'Bungee Shade', cursive;
  font-size: calc(46px + 2vmin);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 12px;
  color: #2a18b8;
  margin-bottom: 16px;
}

.profile-tagline {
  font-family: Calligraffitti;
  font-size: calc(32px + 2vmin);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #2a18b8;
  margin-bottom: 24px;
}

.profile-links {
  font-family: Poppins;
  font-size: calc(12px + 2vmin);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #675db8;
}
