@import "styles/colours.css";

.App-wrapper {
  background-image: var(--outer-bg-image);
  min-height: 100vh;
  padding: 2.5% 5%;
}

.App {
  text-align: center;
  font-size: 12px;
  background-color: var(--inner-bg-colour);
  padding: 60px 72px 24px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
